* {
    box-sizing: border-box;
}

:root {
    --gen-text-color: #999;
    --pink: hotpink;
    --green: lightgreen;
    --blue: #99ccff;
    --orange: lightcoral;
}

body {
    background-color: #333;
}

hr {
    margin-bottom: 15px;
    border-top: 1px solid var(--gen-text-color);
    border-bottom: 1px solid #333;
}

h1 {
    color: var(--gen-text-color);
    font-size: 30px;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

span {
    font-size: 15px;
    text-shadow: none;
    color: var(--gen-text-color);
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    cursor: pointer;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
    color: var(--gen-text-color);
    margin-bottom: 15px;
}

.circ {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 100%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.sqr {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 100%;
    width: 30px;
    height: 30px;
}

.options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 10px;
}

.options-h {
    color: var(--gen-text-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.dot-output {
    grid-area: dot-output;
}

.dot:hover {
    border: 1px solid var(--gen-text-color);
}

.content {
    display: grid;
    max-width: 975px;
    margin: auto;
    grid-template-columns: 175px 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        "options dot-output dot-output dot-output dot-output"
        "options dot-output dot-output dot-output dot-output"
        "footer footer footer footer footer";
}

.color-options {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.glow-pink {
    box-shadow: 0 0 8px #fff, 0 0 30px var(--pink),
        0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink);
    background-color: rgb(255, 240, 240);
}

.glow-green {
    box-shadow: 0 0 8px #fff, 0 0 30px var(--green),
        0 0 40px var(--green), 0 0 50px var(--green), 0 0 60px var(--green);
    background-color: rgb(240, 240, 255)
}

.glow-blue {
    box-shadow: 0 0 8px #fff, 0 0 30px var(--blue),
        0 0 40px var(--blue), 0 0 50px var(--blue), 0 0 60px var(--blue);
    background-color: rgb(240, 240, 255);
}

.glow-orange {
    box-shadow: 0 0 8px #fff, 0 0 30px var(--orange),
        0 0 40px var(--orange), 0 0 50px var(--orange), 0 0 60px var(--orange);
    background-color: rgb(240, 240, 255);
}

.glow-off {
    box-shadow: none;
    background-color: #222;
}

.pink {
    cursor: pointer;
    background-color: hotpink;
}

.green {
    cursor: pointer;
    background-color: lightgreen;
}

.blue {
    cursor: pointer;
    background-color: #99ccff;
}

.orange {
    cursor: pointer;
    background-color: lightcoral;
}

.off {
    cursor: pointer;
    box-shadow: none;
    background-color: #222;
    border: 1px solid white;
}

.grid-toggle {
    width: 100%;
    border: 1px solid var(--gen-text-color);
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.toggle-shape, .toggle-glow {
    display: flex;
    padding: 8px;
    width: 50%;
    justify-content: center;
    color: var(--gen-text-color);
    cursor: pointer;
}

.toggle:hover {
    background-color: #111;
}

.toggle-active {
    background-color: #111;
}

#active-color {
    position:relative;
    display: flex;
    width: 25px;
    height: 25px;
    margin: 10px auto 10px auto;
}

#active-color::after {
    content:"";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #444 transparent transparent;
    position: absolute;
    left: 55px;
    top: 2px;
}

#active-color::before {
    content:"";
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent  transparent transparent #444;
    position: absolute;
    left: -45px;
    top: 2px;
}